CHANNEL_ID = "YourChannelID"
API_ID = "YourAPI"
API_HASH = "YourHash"
DATABASE_PATH = "Database"
OTHER_FILES_FOLDER = "Other_files"
TEMP_FOLDER = "TEMP"
PORT = "8080"
STREAM_CHUNK_MB = "2"
UPLOAD_CHUNK_MB = "1"
RUN_ON_LOCAL_NETWORK = "True"